<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recruiter Portal</title>
        <link href="{%static 'img/favicon.jpg' %}" rel="icon">
        <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    </head>
    <body>
        <div class="box-model">
        <br>
        	<h1>Search JOB by Code : </h1>
            <form class="filter" action="/jobcodefilter/" method="post">
                {% csrf_token %}
                <input class="filter-elements" type="text" placeholder="Enter the Code" name="jobcode">
                <input class="submit-button" type="submit" value="Submit">
            </form>
        </div>
        <br><br>
        <div>
        	<h2>Search JOB Using Filter : </h2>
            <form class="filter" action="/filter/" method="post">
                {% csrf_token %}
                <input class="filter-elements" type="text" placeholder="Search by Company name" name="companyname">
                <input class="filter-elements" type="text" placeholder="Search by Job name" name="jobname">
                <input class="filter-elements" type="text" placeholder="Search by Salary" name="salary">
                <input class="filter-elements" type="text" placeholder="Search by Experience" name="experience">
                <input type="submit" value="Search" class="btnSelect">
            </form>
        </div>
    </body>
</html>