<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recruiter Portal</title>
        <link href="{%static 'img/favicon.jpg' %}" rel="icon">
        <!--<link rel="stylesheet" href="{% static 'css/candidate.css' %}">-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/recruiter.css' %}">
        <style>
            .btnSelect {
                height: 40px;
                font-weight: bold;
                font-size: 12px;
                text-shadow: none;
                min-width: 100px;
                border-radius: 50px;
                line-height: 13px;
                color:white;
                background-color: rgb(31, 158, 31);
              }
        </style>
    </head>
    <body>
<div class="container-fluid">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Job <b>Details</b></h2></div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-info add-new" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus">Add New</i></button>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Job Code</th>
                        <th>Company Name</th>
                        <th>Job Role</th>
                        <th>Date posted</th>
                        <th>Ending Date</th>
                        <th>Location</th>
                        <th>Experience</th>
                        <th>Salary</th>
                        <th>Job Description</th>
                        <th colspan="2">Applied</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in res %}  
                    <tr>
                        <td>{{obj.jobcode}}</td>
                        <td>{{obj.companyname}}</td>
                        <td>{{obj.jobrole}}</td>
                        <td>{{obj.dateposted}}</td>
                        <td>{{obj.endingdate}}</td>
                        <td>{{obj.location}}</td>
                        <td>{{obj.experience}}</td>
                        <td>{{obj.salary}}</td>
                        <td><b><a href="{{obj.jobdescription.url}}">Download</a></b></td>
                        <td>{{obj.appliedcandidates}}</td>
                        <td>
                            <form action = "/viewcandidates/" method="post">
                                {% csrf_token %}
                                <input type="text" value="{{obj.jobcode}}" name="jobcode" style="display:none;">
                                <input class="btnSelect" type="submit" value="View">
                            </form>
                        </td>
                        <td>
                            <!--<form action = "/edit/" method="post">
                                {% csrf_token %}
                                <input type="text" value="{{obj.jobcode}}" name="jobcode" style="display:none;">
                                <button style="border:none" type="submit"><a href="/edit" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a></button>
                            </form>-->
                            <form action = "/delete">
                                {% csrf_token %}
                                <input type="text" value="{{obj.jobcode}}" name="jobcode" style="display:none;">
                                <button style="border:none" type="submit"><a href="/delete" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
</div>     

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Fill <b>JOB</b> Details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form action= "/upload/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Company Name :</label>&nbsp;&nbsp;&nbsp;<input type="text" name="companyname"><br><br>
                <label>Job Role : </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="jobrole"><br><br>
                <label>Due Date : </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name="endingdate"><br><br>
                <label>Description : </label>&nbsp;&nbsp;&nbsp;<input type="file" name="file"><br><br>
                <label>Location : </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="location"><br><br>
                <label>Experience : </label>&nbsp;&nbsp;&nbsp;&nbsp;<select name="exp">
                    <option disabled selected value> ----- </option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9 & above</option>
                </select><br><br>
                <label>Salary : </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" name="salary"><br><br>
                <label>Private : </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="visibility"><br><br>
                <input type="submit" value="Upload" class="btn btn-success"><br><br>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</body>
</html>